<!doctype html>
<html lang="en">
  <head>
  	<title>E-Gastos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="..\static\css\style.css">

	</head>
    <body>
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-5 text-center mb-5">
                        <p class="text-body">
                            1. Olá! Para utilizar o sistema primeiro cadastre a categoria de gastos!
                        </br>
                    </br>
                            2. Após a categoria estar cadastrada, adicione o gasto.
                        </br>
                    </br>
                            3. Para analisar os gastos, selecione a guia Relatório.
                        </br>
                    </br>
                            4. Em Histórico você pode conferir os dados que foram lançados.
                            </p>
                    </div>
                </div>
    </body>
</html>            